<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Könyvek</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.1/css/bulma.min.css">
</head>
<body>
    <nav class="navbar is-primary has-shadow">
        <!-- logo / brand -->
        <div class="navbar-brand">
          <a class="navbar-item">
            <img src="assets/book.png">
          </a>
          <a class="navbar-burger" id="burger">
            <span></span>
            <span></span>
            <span></span>
          </a>
        </div>
      
        <div class="navbar-menu" id="nav-links">
        <!-- right links -->
            <div class="navbar-end">
                <div class="navbar-item has-dropdown" id="konyvekDropdown">
                    <a class="navbar-link">
                        Könyvek
                    </a>
                    <div class="navbar-dropdown is-hidden" id="konyvekDropdownMenu">
                        <!-- Other navbar items -->
                        <a class="navbar-item">
                            Összes
                        </a>
                        <a class="navbar-item">
                            Könyveim
                        </a>
                        <a class="navbar-item" onclick="openModal('addModal')">
                            Hozzáadás
                        </a>
                    </div>
                </div>
                <a class="navbar-item">
                    Profilom
                </a>
                <div class="navbar-item has-dropdown" id="adminDropdown">
                    <a class="navbar-link">
                        Admin
                    </a>
                    <div class="navbar-dropdown is-hidden" id="adminDropdownMenu">
                        <!-- Other navbar items -->
                        <a class="navbar-item">
                            Könyvek
                        </a>
                        <a class="navbar-item">
                            Felhasználók
                        </a>
                        <a class="navbar-item">
                            Csoportok
                        </a>
                    </div>
                </div>
            <a class="navbar-item">Kijelentkezés</a>
          </div>
        </div>
    </nav>
    <section class="section">
        <div class="container">
            <div class="columns is-multiline">
                <div class="column is-4 has-text-centered">
                    <img src="assets/covers_554661.jpg" class="cover-image">
                    <h1 class="title">
                        Szélhámos játszma
                    </h1>
                    <p class="subtitle has-text-justified">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Totam deserunt voluptate vel ullam exercitationem odio quia placeat, unde quidem itaque veniam quae quod velit laudantium quaerat laborum eos rem officiis?
                    </p>
                </div>
                <div class="column is-4 has-text-centered">
                    <img src="assets/covers_554661.jpg" class="cover-image">
                    <h1 class="title">
                        Szélhámos játszma
                    </h1>
                    <p class="subtitle has-text-justified">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Totam deserunt voluptate vel ullam exercitationem odio quia placeat, unde quidem itaque veniam quae quod velit laudantium quaerat laborum eos rem officiis?
                    </p>
                </div>
                <div class="column is-4 has-text-centered">
                    <img src="assets/covers_554661.jpg" class="cover-image">
                    <h1 class="title">
                        Szélhámos játszma
                    </h1>
                    <p class="subtitle has-text-justified">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Totam deserunt voluptate vel ullam exercitationem odio quia placeat, unde quidem itaque veniam quae quod velit laudantium quaerat laborum eos rem officiis?
                    </p>
                </div>
                <div class="column is-4 has-text-centered">
                    <img src="assets/covers_554661.jpg" class="cover-image">
                    <h1 class="title">
                        Szélhámos játszma
                    </h1>
                    <p class="subtitle has-text-justified">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Totam deserunt voluptate vel ullam exercitationem odio quia placeat, unde quidem itaque veniam quae quod velit laudantium quaerat laborum eos rem officiis?
                    </p>
                </div>
                <div class="column is-4 has-text-centered">
                    <img src="assets/covers_554661.jpg" class="cover-image">
                    <h1 class="title">
                        Szélhámos játszma
                    </h1>
                    <p class="subtitle has-text-justified">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Totam deserunt voluptate vel ullam exercitationem odio quia placeat, unde quidem itaque veniam quae quod velit laudantium quaerat laborum eos rem officiis?
                    </p>
                </div>
                <div class="column is-4 has-text-centered">
                    <img src="assets/covers_554661.jpg" class="cover-image">
                    <h1 class="title">
                        Szélhámos játszma
                    </h1>
                    <p class="subtitle has-text-justified">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Totam deserunt voluptate vel ullam exercitationem odio quia placeat, unde quidem itaque veniam quae quod velit laudantium quaerat laborum eos rem officiis?
                    </p>
                </div>                                
            </div>            
        </div>
    </section>

    <!-- modals-->
    <div class="modal" id="addModal">
        <div class="modal-background" id="addModalBg" onclick="closeModal('addModal')"></div>
        <div class="modal-card">
            <header class="modal-card-head">
                <p class="modal-card-title">Hozzáadás</p>
                <button class="delete" aria-label="close" id="closeModal" onclick="closeModal('addModal')"></button>
            </header>
            <section class="modal-card-body">
                <div class="container"><br>
                    <form action="#" th:action="@{/savebook}" th:object="${book}" method="post"></form>
                        <div class="form-group" hidden>
                            <input type="text" th:field="*{id}" value="${book.id}" class="form-control form-control-lg" id="id">
                        </div>

                        <div class="field">
                            <label for="author" class="label">Szerző</label>
                            <div class="control">
                                <input type="text" class="input" th:field="*{author}" th:value="${book.author}" id="author" placeholder="Szerző neve">
                            </div>
                        </div>
                        <div class="field">
                            <label for="title" class="label">Cím</label>
                            <div class="control">
                                <input type="text" class="input" th:field="*{title}" th:value="${book.title}" id="title" placeholder="Cím">
                            </div>
                        </div>
                        <div class="field">
                            <label for="genre" class="label">Műfaj</label>
                            <div class="control">
                                <input type="text" class="input" th:field="*{genre}" th:value="${book.genre}" id="genre" placeholder="Műfaj">
                            </div>
                        </div>
                        <div class="field">
                            <label for="releaseYear" class="label">Kiadás</label>
                            <div class="control">
                                <input type="text" class="input" th:field="*{releaseYear}" th:value="${book.releaseYear}" id="releaseYear" placeholder="Kiadás">
                            </div>
                        </div>
                        <div class="field">
                            <label for="series" class="label">Sorozat</label>
                            <div class="control">
                                <input type="text" class="input" th:field="*{series}" th:value="${book.series}" id="series" placeholder="Sorozat">
                            </div>
                        </div>
                        <div class="field">
                            <label for="place" class="label">Hely</label>
                            <div class="control">
                                <input type="text" class="input" th:field="*{place}" th:value="${book.place}" id="place" placeholder="Hely">
                            </div>
                        </div>
                        <div class="field">
                            <label for="isbn" class="label">ISBN azonosító</label>
                            <div class="control">
                                <input type="text" class="input" th:field="*{isbn}" th:value="${book.isbn}" id="isbn" placeholder="ISBN azonosító">
                            </div>
                        </div>
                </div>
            </section>
            <footer class="modal-card-foot">
                <button type="submit" class="button is-success">Mentés</button>
                <button type="reset" class="button">Mégse</button>
            </footer>
            </form>
        </div>
    </div>

    <!-- Footer-->
    <footer class="footer">
        <div class="content has-text-centered">
          <p>
            A <strong>Bookert</strong> Csikász Csaba fejlesztette. A külső információk az <a href="moly.hu">moly.hu</a>-ról származnak.
          </p>
        </div>
      </footer>
    <script src="index.js"></script>
</body>
</html>